---
http_interactions:
- request:
    method: post
    uri: https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members
    body:
      encoding: UTF-8
      string: '{"email_address":"unknown@example.org","status":"subscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjJlN2-----5MjdkYWY4YjEyNzY1ZDU1YzY0YTkxMTViLXVzMjA=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us20.admin.mailchimp.com/lists/members/view?id=587220257>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"c4e11f924a944d7112d9905623d177da","email_address":"unknown@example.org","unique_email_id":"85ab66711f","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":"","MMERGE3":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"213.162.213.82","timestamp_opt":"2019-03-05T10:26:50+00:00","member_rating":2,"last_changed":"2019-03-05T10:26:50+00:00","language":"","vip":false,"email_client":"Gmail","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"tags_count":0,"tags":[],"list_id":"8330ABCd4b","_links":[{"rel":"self","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/c4e11f924a944d7112d9905623d177da","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us20.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/c4e11f924a944d7112d9905623d177da","method":"PATCH","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/c4e11f924a9[...]
