---
http_interactions:
- request:
    method: post
    uri: https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members
    body:
      encoding: UTF-8
      string: '{"email_address":"existing@example.org","status":"subscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmU5MWNiY2FkMGM3MGM5ZTIyNGEzMDJkNzM2YmNkZDA0LXVzOQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Member
        Exists","status":400,"detail":"existing@example.org is already a list member.
        Use PUT to insert or update list members.","instance":"3cbb12c9-3270-4ca1-90dc-f437311b0c67"}'
  recorded_at: Tue, 05 Mar 2019 10:28:19 GMT
recorded_with: VCR 4.0.0
