---
http_interactions:
- request:
    method: get
    uri: https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/8cfc7338de91b00f0aa49510fb472a7f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmU5MWNiY2FkMGM3MGM5ZTIyNGEzMDJkNzM2YmNkZDA0LXVzOQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"6800ea7f-daa4-4439-8078-837acd667fa7"}'
  recorded_at: Tue, 05 Mar 2019 10:34:17 GMT
recorded_with: VCR 4.0.0
