---
http_interactions:
- request:
    method: patch
    uri: https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/5d3f7d8e534a123e3029a3f3b9761de5
    body:
      encoding: UTF-8
      string: '{"status":"unsubscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmU5MWNiY2FkMGM3MGM5ZTIyNGEzMDJkNzM2YmNkZDA0LXVzOQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us20.admin.mailchimp.com/lists/members/view?id=587208085>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"5d3f7d8e534a123e3029a3f3b9761de5","email_address":"existing@example.org","unique_email_id":"003bf166ec","email_type":"html","status":"unsubscribed","unsubscribe_reason":"N/A
        (Unsubscribed by admin)","merge_fields":{"FNAME":"","LNAME":"","MMERGE3":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"213.162.213.82","timestamp_opt":"2019-03-04T14:26:08+00:00","member_rating":2,"last_changed":"2019-03-05T10:39:25+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"tags_count":0,"tags":[],"list_id":"8330ABCd4b","_links":[{"rel":"self","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/5d3f7d8e534a123e3029a3f3b9761de5","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us20.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/5d3f7d8e534a123e3029a3f3b9761de5","method":"PATCH","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/5d3f7d8e534[...]
