---
http_interactions:
- request:
    method: patch
    uri: https://us20.api.mailchimp.com/3.0/lists/8330ABCd4b/members/5d3f7d8e534axxxe3029a3f3b9761de5
    body:
      encoding: UTF-8
      string: '{"status":"unsubscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmU5MWNiY2FkMGM3MGM5ZTIyNGEzMDJkNzM2YmNkZDA0LXVzOQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"9a481466-5d26-4deb-9622-4252f9b29337"}'
  recorded_at: Tue, 05 Mar 2019 10:38:51 GMT
recorded_with: VCR 4.0.0
